.merchant_item_wrapper {
  border-radius: 10px;
  padding: 20px;
  /* Background Gradient for Complementary Colors */
  background-color: #FFFFFF;
  /* For WebKit (Safari, Chrome, etc) */
  background: #FFFFFF -webkit-gradient(linear, left top, left bottom, from(#E2E3E5), to(#FFFFFF)) no-repeat;
  /* Mozilla,Firefox/Gecko */
  background: #FFFFFF -moz-linear-gradient(top, #E2E3E5, #FFFFFF) no-repeat;
}

.merchant_item_wrapper.edition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.merchant_item {
  display: flex;
  margin: 20px 0;
  align-items: center;
  flex-wrap: wrap;
}

.edition .merchant_item {
  flex-direction: column;
  align-items: center;
}

.edition .merchant_item_info {
  align-items: stretch;
}

.edition .btn {
  margin: 10px 0;
}

.merchant_item input {
  margin: 10px 0;
}

.merchant_item_image {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  margin-right: 20px;
}

.edition .merchant_item_image {
  margin-bottom: 10px;
}

.edition .merchant_item_image {
  margin-right: 0;
}

.merchant_item_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}

.merchant_item_info .merchant_item_info__name {
  font-size: 2.5em;
}

.merchant_item_buttonContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.merchant_item_buttonContainer .btn {
  margin-top: 5px;
}

.merchant_item_info__hasPremium {
  outline: none;
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.merchant_item_info__hasPremium:checked:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.merchant_item_info__hasPremium:checked {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.merchant_item_info__hasPremium:active, .merchant_item_info__hasPremium:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.hasPremium {
  /* Background Gradient for Complementary Colors */
  background-color: #FFFFFF;
  /* For WebKit (Safari, Chrome, etc) */
  background: #FFFFFF -webkit-gradient(linear, left top, left bottom, from(#fff1a4), to(#FFFFFF)) no-repeat;
  /* Mozilla,Firefox/Gecko */
  background: #FFFFFF -moz-linear-gradient(top, #fff1a4, #FFFFFF) no-repeat;
}


@media screen and (max-width: 414px) {
  .merchant_item {
    justify-content: center;
    flex-direction: column;
  }

  .merchant_item_buttonContainer {
    margin: auto;
  }

  .merchant_item_info {
    align-items: center;
  }

  .merchant_item_image {
    margin-right: 0;
  }
}
