.pagination {
  display: flex;
  justify-content: center;
  padding:  10px 20px;
  border-radius: 10px;
}

.pagination_number {
  border: 1px solid #e6e6e6;
  padding: 20px;
  cursor: pointer;
}

.pagination_number.active {
  background-color: #69A551;
  color: white;
}
